.footer_container{
    background-color: var(--bg-footer-color);
    padding: 20px 30px;
}

.footer_socialLinks{

    display: flex;
    justify-content: center;
}

.footer_socialLinks_item:not(:last-child) {
    margin-right: 25px;
}

.icon {
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    fill: var(--text-color-1);
}

.icon:hover{
    fill: var(--color-icon-footer-hover);
    transition: all 0.5s ease-in-out;
}

.footer_copyright{
    margin-top: 8px;
    color: var(--text-color-1);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer_container{
        margin-top: 40px;
        padding: 20px 240px;
    }
    .footer_copyright{
        margin-top: 6px;
        font-size: 18px;
        line-height: 28px;
    }
}